{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  
</head>
<body>
  <h1>Hello World! My name is Mauryn</h1>
  <p>I will be taking us through API Building and integration to django projects with solid examples</p>
  <h2>APIs</h2>
  {{ results }}
  <h2>Dogs</h2>
  {{ results2 }}
  <img src={{results2}} alt="random pet">
</body>
</html>